body {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  background: #000;
  overflow-y: scroll;
}
::selection {
  color: #e6e6e6;
  background: #750f8a;
}
::-moz-selection {
  color: #e6e6e6;
  background: #750f8a;
}
#timers {
  margin-top: 2em;
}
#timers dl {
  margin: 0;
}
#timers dt {
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}
#timers dd {
  padding: 0.1em 0.2em 0.15em;
  margin: 0;
  text-align: center;
  line-height: 1;
}
#timers #total {
  margin: 0 auto;
  color: #14b84b;
}
#timers #total dd {
  font-size: 4em;
}
#timers #playPause {
  display: table;
  margin: 2em auto 0;
  white-space: nowrap;
  color: #197fe6;
}
#timers #playPause dl,
#timers #playPause div {
  display: inline-block;
}
#timers #playPause dt {
  margin-bottom: 0.7em;
}
#timers #play dd {
  font-size: 3.3em;
  border: 0.09em solid #197fe6;
  border-radius: 0.4em;
}
#timers #pause dd {
  font-size: 3.3em;
  color: #000;
  border: 0.09em solid #197fe6;
  border-radius: 0.4em;
  background: #197fe6;
}
#timers #ratio {
  font-size: 3.3em;
  width: 4em;
  text-align: center;
}
#timers #lap {
  margin: 2em auto 0;
  color: #e6194c;
}
#timers #lap dd {
  font-size: 3.2em;
}
#timers #ckp {
  margin: 2em auto 0;
  color: #f5993d;
}
#timers #ckp dd {
  font-size: 2.7em;
}
#buttons {
  display: table;
  margin: 4em auto 0;
  white-space: nowrap;
}
#buttons div {
  display: inline-block;
  margin: 0 0.3em;
  padding: 0.2em 0.4em 0.4em;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  border-width: 0.2em;
  border-style: solid;
  border-radius: 0.6em;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#buttons #stopReset {
  border-color: #14b84b;
  color: #14b84b;
}
#buttons #stopReset:hover {
  background: #14b84b;
  color: #000;
}
#buttons #lap {
  border-color: #e6194c;
  color: #e6194c;
}
#buttons #lap:hover {
  background: #e6194c;
  color: #000;
}
#buttons #ckp {
  border-color: #f5993d;
  color: #f5993d;
}
#buttons #ckp:hover {
  background: #f5993d;
  color: #000;
}
#buttons #playPause {
  border-color: #197fe6;
  color: #197fe6;
}
#buttons #playPause:hover {
  background: #197fe6;
  color: #000;
}
#revStatsOrder {
  display: table;
  color: #14b84b;
  line-height: 1;
  margin: 1.8em auto;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  visibility: hidden;
}
#revStatsOrder:hover {
  text-decoration: underline;
}
#stats {
  margin: 0 auto 1em;
  visibility: hidden;
}
#stats th,
#stats td {
  padding: 0.05em 0.5em;
}
#stats td {
  text-align: right;
}
#stats th {
  color: #14b84b;
  border: 2px solid #14b84b;
}
#stats #ckp {
  color: #f5993d;
  border: 2px solid #f5993d;
}
#stats #lap {
  color: #e6194c;
  border: 2px solid #e6194c;
}
#stats #play {
  color: #197fe6;
  border: 2px solid #197fe6;
}
#stats #pause {
  color: #000;
  border: 2px solid #197fe6;
  background: #197fe6;
}
#stats td:nth-child(2) {
  text-align: left;
}
#stats tr.start,
#stats tr.finish {
  color: #14b84b;
}
#stats tr.play {
  color: #197fe6;
}
#stats tr.pause {
  color: #000;
  background: #197fe6;
}
#stats tr.lap {
  color: #e6194c;
}
#stats tr.ckp {
  color: #f5993d;
}
#stats tr.cancelled {
  text-decoration: line-through;
}
