body {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  background: #000;
  overflow-y: scroll;
}
::selection {
  color: #e6e6e6;
  background: #750f8a;
}
::-moz-selection {
  color: #e6e6e6;
  background: #750f8a;
}
dl {
  margin: 0;
}
dt {
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}
dd {
  padding: 0.1em 0.2em 0.15em;
  margin: 0;
  text-align: center;
  line-height: 1;
}
#total {
  margin: 2em auto 0;
  color: #14b84b;
}
#total dd {
  font-size: 4em;
}
#playPause {
  display: table;
  margin: 2em auto 0;
  white-space: nowrap;
  color: #197fe6;
}
#playPause dl,
#playPause div {
  display: inline-block;
}
#playPause dt {
  margin-bottom: 0.7em;
}
#play dd {
  font-size: 3.3em;
  border: 0.09em solid #197fe6;
  border-radius: 0.4em;
}
#pause dd {
  font-size: 3.3em;
  color: #000;
  border: 0.09em solid #197fe6;
  border-radius: 0.4em;
  background: #197fe6;
}
#ratio {
  font-size: 3.3em;
  width: 4em;
  text-align: center;
}
#lap {
  margin: 2em auto 0;
  color: #e6194c;
}
#lap dd {
  font-size: 3.2em;
}
#ckp {
  margin: 2em auto 0;
  color: #f5993d;
}
#ckp dd {
  font-size: 2.7em;
}
#buttons {
  display: table;
  margin: 4em auto 0;
  white-space: nowrap;
}
#buttons div {
  display: inline-block;
  margin: 0 0.3em;
  padding: 0.2em 0.4em 0.4em;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  border-width: 0.2em;
  border-style: solid;
  border-radius: 0.6em;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#stopResetButton {
  border-color: #14b84b;
  color: #14b84b;
}
#stopResetButton:hover {
  background: #14b84b;
  color: #000;
}
#lapButton {
  border-color: #e6194c;
  color: #e6194c;
}
#lapButton:hover {
  background: #e6194c;
  color: #000;
}
#ckpButton {
  border-color: #f5993d;
  color: #f5993d;
}
#ckpButton:hover {
  background: #f5993d;
  color: #000;
}
#playPauseButton {
  border-color: #197fe6;
  color: #197fe6;
}
#playPauseButton:hover {
  background: #197fe6;
  color: #000;
}
#revStatsOrder {
  display: table;
  color: #14b84b;
  line-height: 1;
  margin: 1.8em auto;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  visibility: hidden;
}
#revStatsOrder:hover {
  text-decoration: underline;
}
#stats {
  margin: 0 auto 1em;
  visibility: hidden;
}
#stats th,
#stats td {
  padding: 0.05em 0.5em;
}
#stats td {
  text-align: right;
}
#stats > tbody > tr > td:nth-child(2) {
  text-align: left;
}
#stats > thead > tr {
  color: #000;
  background: #14b84b;
}
#stats > tbody > tr.STOP {
  color: #14b84b;
}
#stats > tbody > tr.PLAY {
  color: #197fe6;
}
#stats > tbody > tr.PAUSE {
  color: #000;
  background: #197fe6;
}
#stats > tbody > tr.LAP {
  color: #e6194c;
}
#stats > tbody > tr.CKP {
  color: #f5993d;
}
#stats > tbody > tr.cancelled {
  text-decoration: line-through;
}
