html,
body {
  margin: 0;
  padding: 0;
}
body {
  font: 16px 'Noto Sans';
  color: #ccc;
  background: #000;
}
::selection {
  color: #e6e6e6;
  background: #732660;
}
::-moz-selection {
  color: #e6e6e6;
  background: #732660;
}
nav {
  padding: 2px 0;
  text-align: right;
  cursor: default;
}
nav a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  margin: 0 0.5em;
  outline: none;
}
nav a:hover {
  text-decoration: underline;
}
nav a.current {
  color: #197fe6;
}
article {
  font-size: 1.2em;
  width: 30em;
  margin: 0 auto 1em;
  padding: 0.1em 1.5em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #1f262e url("data:image/jpg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAUDBAQEAwUEBAQFBQUGBwwIBwcHBw8LCwkMEQ8SEhEPERETFhwXExQaFRERGCEYGh0dHx8fExciJCIeJBweHx7/2wBDAQUFBQcGBw4ICA4eFBEUHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh7/wAARCABkAGQDAREAAhEBAxEB/8QAGAABAQEBAQAAAAAAAAAAAAAAAQIAAwj/xAAsEAACAQMCBAYCAgMAAAAAAAAAARECITESQSJRcZEyYYGh0eEDE0LBI1Lw/8QAFwEBAQEBAAAAAAAAAAAAAAAAAAEDBP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/APNlMQ+I6GBeVcDfxAheFAZK76sCos0AuHUiiElq7kDacrAD+NKfEgNSqdS4kAVJanxLIFUxpXFSBMqHv6oDVNW+gH+PquQE2gB525hW7BGa4lb3AaUpdue4BCnGwD+OL/ICoVSx3AKkpb8+YGUQr+4Uzm4RqndAaVHqigTXl3IFtX6Pcolu2/cgzf8AkSv3AqmZfruAb+gGoaWq4Dq4lfYozd3fcgyahXAz39dyibyvkgrb1A1ihUQ+jAlxGNyDN0/sw+4CknLjnuAaeLABTTeoBjiXQCnnK7gQ3/0gVVNwJU6l1AdvUBi4Cm79GBybTWWFVb9m4RSah57Aa2vfsUSol/BAvK6cgFu/0USyKatwiVMqyAZceFAK1Xsu4GpThyljmBzSfl3Crhv8m3cIY4fsDU+P7AmnLty3Cmp8SttzCKTcgTUrhS14roIKE8+a2A19NufICqdWlsoadd+hBHHG4F8X7AM9WnBRlMyBKmavTYglzPp/YFKZAzpsrgH+1+ewGS4c+wA1Z3eQq6Vw5YRqUr32AjT5gU1xXfuBnGl3XcDUtXwBKjy2A1oWMBS3n4CNVM/QVk1NV1uEUvCAbMBo8KyBqf5Z7lBVj7IFri3xzAGlpfyApKQBJcwGEkrlBVF8e5AN4ugppXi4ghU6c+wEpOHcDUJ6VkBpTl5A0WwwMAVOzApf0AR5+4CqfMoKkpaIFJaVcCaFnGQLSsgBS0wCmdKuA05ecsDPG5RlhZIJbzkCpv6ACwgqlaLBEVPiqwBlhXRQU79SKq1sdggpjS8Z5AFEaVjsAzTLxl7ANodkBtosBLan6CnUp37BGpqVsgKqvvkDnU+J3fYKtRCAulWfXmVC1dAamlaXnYCaVwLJBMcT6gU7U1XAUpbu8wUGm+XuQUqVLzj4KN+NXV2ArxICKlx1Z7gVSuFZ7kR//9k=");
  border: 2px solid #1a1a1a;
}
article h1,
article h2 {
  text-align: center;
}
article a {
  color: #197fe6;
  text-decoration: none;
}
article a:hover {
  text-decoration: underline;
}
article ul {
  list-style: square;
}
